.container{
	margin-left:70px;
}
.profile-area{
	margin-top: 50px;
}

.profile-area img {
  	max-width: 150px;
  	margin-bottom: 20px;
}
.heading1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.settings-form-block{
	margin-top:30px;
	margin-left:5px;
}
.integration-block{
	background-color: #f5f5f5;
}
.integration-block-grayout{
	background-color: #f5f5f5;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
.image-block{
	border-bottom: solid 1px #e7e7e7;
	height:80px;
}
.img-square{
	margin-left:20px;
	margin-top:20px;
}
.img-spotify{
	margin-left:20px;
	margin-top:20px;
}
.en_button{
	margin: 7px 3px;
	width:100px;
}
.text-block1{
	height:77px;
	margin-bottom:8px;
}
.text-block2{
	height:77px;
}
.subtext{
	font-weight:200;
	color:#666;
	letter-spacing:0.3px;
	margin:40px 30px;
	font-size:20px;
}

.survey-block{
	margin-top:50px;
	margin-bottom:30px;
	margin-left:5px; 
}

.typeform-share{
	display:inline-block;
	text-decoration:none;
	background-color:#6dc77a;
	color:white;
	cursor:pointer;
	font-family:Helvetica,Arial,sans-serif;
	font-size:20px;
	line-height:50px;
	text-align:center;
	margin:20px;
	height:50px;
	padding:0px 33px;
	border-radius:25px;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}